@charset "UTF-8";
body {
  font-family: "メイリオ", sans-serif;
  text-align: center;
  background-color: #acf;
  color: #666;
}

body a {
  text-decoration: none;
  color: #666;
}

#top_page h1 {
  margin-top: 70px;
  font-size: 60px;
}

#top_page p {
  margin-top: 20px;
  font-size: 20px;
  padding-bottom: 40px;
}

#top_page #register, #top_page #login {
  margin: 20px 10px 0 10px;
  font-size: 30px;
  background-color: #666;
}

#top_page #register a, #top_page #login a {
  display: block;
  padding: 10px 0 10px 0;
  color: #acf;
  width: 100%;
  height: 100%;
}

#form p {
  font-size: 24px;
  text-align: left;
  padding: 12px;
}

#form h1 {
  margin-top: 50px;
  font-size: 40px;
  padding-bottom: 20px;
}

#form #user_id, #form #password {
  font-size: 20px;
}

#form form input {
  width: 98%;
  margin-top: 10px;
}

#form form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#form .error {
  padding: 0 0 0 12px;
  font-size: 18px;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  background-color: #fff;
}

header #return {
  display: flex;
  font-size: 30px;
  padding-left: 10px;
  align-items: center;
}

header h1 {
  width: 50%;
  display: flex;
  font-size: 24px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 60px 0 10px;
}

header h1 span {
  padding-left: 5px;
  font-size: 18px;
}

header nav {
  font-size: 20px;
}

header nav li {
  padding: 20px;
}

section.list {
  text-align: left;
  padding: 10px;
}

section.list #deadline {
  padding-bottom: 10px;
  font-size: 18px;
  color: #393;
}

section.list ul {
  padding: 5px 0;
}

section.list ul li {
  font-size: 18px;
  padding-bottom: 18px;
}

section.list ul li.hurry a {
  color: #933;
}

section.list ul li.danger a {
  color: #e00;
}

section.list .btn {
  background-color: #666;
  color: #acf;
  padding: 5px;
  font-size: 14px;
  width: 49%;
}

form#add {
  width: 100%;
}

form#add #add-text {
  font-size: 16px;
  width: 80%;
}

form#add #add-btn {
  background-color: #666;
  color: #acf;
  font-size: 16px;
  width: 11%;
}

form#add label {
  float: left;
  padding: 10px;
}

footer {
  padding-top: 20px;
}

footer .error {
  text-align: left;
  padding: 10px;
}

.error {
  color: #f44;
}

#caution {
  color: #f44;
  padding-top: 15px;
  font-size: 15px;
}

.already {
  color: #33f;
}

/*サーバーに上げる時用
.drawer-toggle {
  margin-top: 60px;
}
*/
